h1 {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

p {
  font-family: tahoma;
  }

  a {
      color: #808184;
      text-decoration: none;
  }

.nav {
  text-align: center;
  font-family: "Josefin Sans";
  font-weight: bold;
  
  text-transform: uppercase;
  color: #808184;
  position: relative;
  display: block;
  padding: 5px 0;
  letter-spacing: 1px;
}

.about {
  background-color: pink;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.promos {
  text-align: center;
  height: 300px;
}
